
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body class="mat-typography"> 
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
  <div class="row">
    
    <!-- <div class="column" style="width: 30%;">
      <header>
        <div>
          <h1></h1>{{ text }}
          <h1 *ngIf="text=='1'">Lotus Temple Package:</h1>
          <p *ngIf="text=='1'">
            Our Lotus Temple Package has Following:-<br><br>
    It is a <strong>5 days</strong> Tour.
    The total cost Per Person is <strong>&#8377;4999</strong> which includes:<br><br>
    Food, living cost, accommodations in hotels etc.
    On the way to lotus temple we cover these tour sites:<br><br>
    <strong>Day 1</strong> : Akshardham Swaminarayan Akshardham (New Delhi)
    <br> A Hindu temple, and a spiritual-cultural campus in New Delhi, India<br><br>
    <strong>Day 2</strong> : Humayun's tomb is the tomb of the Mughal Emperor Humayun in Delhi, India.<br><br>
    <strong>Day 3</strong>: Aastha Kunj is a 200-acre park in southeast New Delhi, India. It lies between the Lotus Temple,<br> <br>
    <strong>Day 4</strong> : Lotus Temple : The Final Destination of our tour! Located in Delhi, India, is a Baháʼí House of Worship that was dedicated in December 1986. Notable for its flowerlike shape, it has become a prominent attraction in the city. Like all Baháʼí Houses of Worship, the Lotus Temple is open to all, regardless of religion or any other qualification.<br><br>
    <strong>Day 5</strong> : back to hotel.<br>
    <img src="assets\images\1a.jpg" class="figure-img">
    <img src="assets\images\1b.jpg"class="figure-img">
          </p>
          
          <h1 *ngIf="text=='2'">Taj Mahal Package:</h1>
          <p *ngIf="text=='2'">
            Our Package Taj Mahal  has Following:-<br><br>
  Its 5 days Tour
  The total cost Per Person is 5000rs which includes:<br><br>
  Food, living cost, accommodations in hotels etc.
  On the way to Taj mahal we cover many major places such as:
  Day 1 : Mehtab Bagh is a charbagh complex in Agra, North India.<br><br>
  Day 2 : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty<br><br>
  Day 3: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br><br>
  Day 4 : Taj mahal : The Final Destination of our tour!<br><br>
  Day 5 : back to Bangalore.
          </p>

          <h1 *ngIf="text=='3'">Delhi Streets Package:</h1>
          <p *ngIf="text=='3'">
            Our Package Taj Mahal  has Following:-<br><br>
  Its 5 days Tour
  The total cost Per Person is 5000rs which includes:<br><br>
  Food, living cost, accommodations in hotels etc.
  On the way to Taj mahal we cover many major places such as:
  Day 1 : Mehtab Bagh is a charbagh complex in Agra, North India.<br><br>
  Day 2 : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty<br><br>
  Day 3: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br><br>
  Day 4 : Taj mahal : The Final Destination of our tour!<br><br>
  Day 5 : back to Bangalore.
          </p>

          <h1 *ngIf="text=='4'">Himachal Buddisht Temple pass Package:</h1>
          <p *ngIf="text=='4'">
            Our Package Taj Mahal  has Following:-<br><br>
  Its 5 days Tour
  The total cost Per Person is 5000rs which includes:<br><br>
  Food, living cost, accommodations in hotels etc.
  On the way to Taj mahal we cover many major places such as:
  Day 1 : Mehtab Bagh is a charbagh complex in Agra, North India.<br><br>
  Day 2 : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty<br><br>
  Day 3: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br><br>
  Day 4 : Taj mahal : The Final Destination of our tour!<br><br>
  Day 5 : back to Bangalore.
          </p>

          <h1 *ngIf="text=='5'">Rajasthan Chittod Fort Package:</h1>
          <p *ngIf="text=='5'">
            Our Package Taj Mahal  has Following:-<br><br>
  Its 5 days Tour
  The total cost Per Person is 5000rs which includes:<br><br>
  Food, living cost, accommodations in hotels etc.
  On the way to Taj mahal we cover many major places such as:
  Day 1 : Mehtab Bagh is a charbagh complex in Agra, North India.<br><br>
  Day 2 : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty<br><br>
  Day 3: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br><br>
  Day 4 : Taj mahal : The Final Destination of our tour!<br><br>
  Day 5 : back to Bangalore.
          </p>

          <h1 *ngIf="text=='6'">India Gate Package:</h1>
          <p *ngIf="text=='6'">
            Our Package Taj Mahal  has Following:-<br><br>
  Its 5 days Tour
  The total cost Per Person is 5000rs which includes:<br><br>
  Food, living cost, accommodations in hotels etc.
  On the way to Taj mahal we cover many major places such as:
  Day 1 : Mehtab Bagh is a charbagh complex in Agra, North India.<br><br>
  Day 2 : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty<br><br>
  Day 3: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br><br>
  Day 4 : Taj mahal : The Final Destination of our tour!<br><br>
  Day 5 : back to Bangalore.
          </p>

          <h1 *ngIf="text=='7'">Temple Package:</h1>
          <p *ngIf="text=='7'">
            Our Package Taj Mahal  has Following:-<br><br>
  Its 5 days Tour
  The total cost Per Person is 5000rs which includes:<br><br>
  Food, living cost, accommodations in hotels etc.
  On the way to Taj mahal we cover many major places such as:
  Day 1 : Mehtab Bagh is a charbagh complex in Agra, North India.<br><br>
  Day 2 : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty<br><br>
  Day 3: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br><br>
  Day 4 : Taj mahal : The Final Destination of our tour!<br><br>
  Day 5 : back to Bangalore.
          </p>

          <h1 *ngIf="text=='8'">Golden Temple Package:</h1>
          <p *ngIf="text=='8'">
            Our Package Taj Mahal  has Following:-<br><br>
  Its 5 days Tour
  The total cost Per Person is 5000rs which includes:<br><br>
  Food, living cost, accommodations in hotels etc.
  On the way to Taj mahal we cover many major places such as:
  Day 1 : Mehtab Bagh is a charbagh complex in Agra, North India.<br><br>
  Day 2 : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty<br><br>
  Day 3: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br><br>
  Day 4 : Taj mahal : The Final Destination of our tour!<br><br>
  Day 5 : back to Bangalore.
          </p>
        </div><br>
        
      </header>
    
    </div> -->
   
    <div class="column" > 
      <header>
        <div>
          <h1 >Enter passenger details :</h1>
        </div>
        <mat-icon (click)="toggleTheme()" title="Change theme">format_color_fill</mat-icon>
      </header>
      <!-- <form [formGroup]="userTable">
          <table class="table table-border table-striped bg-warning" [ngClass]="{'table-dark': mode, 'table-hover': true}">
            <thead class="text-nowrap">
              <th>Booking ID <span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Name <span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Email<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Date Of Birth<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Blood Group<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Mobile Number</th>
              <th></th>
            </thead>
            <tbody>
              <ng-container formArrayName="tableRows" *ngFor="let group of getFormControls.controls ; let i=index">
                <tr *ngIf="group.get('isEditable').value" [formGroupName]="i">
                  <td>
                    <mat-form-field>
                      <input matInput [readonly]="true" type="text" formControlName="bookingId">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput type="text" formControlName="name">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput type="text" formControlName="email">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput matInput [matDatepicker]="picker" formControlName="dob">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker ></mat-datepicker>
                    </mat-form-field>
                  </td>
                  <td> -->
                    <!-- <mat-form-field>
                      <mat-select formControlName="bloodGroup">
                        <mat-option value="O+">O</mat-option>
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                        <mat-option value="AB">AB</mat-option>
                      </mat-select>
                    </mat-form-field> -->
                    
                    <!-- <select name="blood" id="" formControlName="bloodGroup" style="width:100%;background-color: goldenrod;">
                      <option value="O+">O</option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="AB">AB</option>
                    </select>
                 
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput type="text" formControlName="mobNumber">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-icon class="delete" (click)="deleteRow(i)">delete_forever</mat-icon>
                    <mat-icon class="done" (click)="doneRow(group)">done</mat-icon>
                  </td>
                </tr>
                <tr *ngIf="!group.get('isEditable').value" >
                  <td>
                    {{group.get('name').value}}
                  </td>
                  <td>
                    {{group.get('email').value}}
                  </td>
                  <td>
                      {{group.get('email').value}}
                  </td>
                  <td>
                      {{group.get('bloodGroup').value}}
                  </td>
                  <td>
                    {{group.get('mobNumber').value}}
                  </td>
                  <td>
                    <mat-icon class="edit" (click)="editRow(group)">edit</mat-icon>
                  </td>
                </tr>
              </ng-container> 
            </tbody>
          </table>
          <div class="action-container">
            <button mat-raised-button type="submit" (click)="addRow()" class="btn btn-outline-primary">Add person</button>
            <button mat-raised-button [disabled]="userTable.invalid" type="submit" (click)="submitForm()" id="button" (click)="popup=true" class="btn btn-outline-success">Book</button>
          </div>
        </form> -->
        <!-- <div class="output">
          <p>Form Data:  {{userTable.value | json}}</p>
            <p>Is Valid: {{userTable.valid}}</p>
        </div> -->
        
    </div>
  
  </div>





  <div class="bg-modal" [ngStyle]="myStyles">
    <div class="modal-content">
      <div class="close" (click)="popup=false">+</div>
      <img src="assets\logo.jpg" alt="logo" style="width: 80px;">
      <strong  style="text-decoration:underline">Please verify and confirm your booking:</strong><br>
      Booking ID: <strong>#{{bookingNum}}</strong>
      Trip choice: <strong>{{choiceData[choice-1][0]}}</strong>
      No of persons booked for trip :<strong>{{ noOfRows }}</strong>
      Cost per person for {{choiceData[choice-1][0]}} package:  <strong>&#8377;{{choiceData[choice-1][1]}}/-</strong>
      Total = <strong>&#8377;{{ noOfRows * choiceCost }}/-</strong><br>
      <!-- Total = <strong>{{ noOfRows*(choiceData[choice-1][1]) }}</strong><br> -->
      <div>
        <strong style="text-decoration:underline">Discount policy:</strong><br>
        <strong>(Tier 1) : </strong> 5% for >2 people <br>
        <strong>(Tier 2) : </strong> 12% for >5 people
      </div><br>
      Tier applied: <strong>{{discountTier}}</strong><br>
      Total after discount:  <strong>&#8377;{{ noOfRows*choiceCost*(1- discount) }}/-</strong> <br> 
      <!-- Total after discount:  <strong>{{ noOfRows*(choiceData[choice-1][1])*0.95 }}</strong> <br>  -->
      <button class="btn btn-outline-success" style="width: fit-content; margin-bottom: 15px;">Confirm booking</button>
      <button mat-raised-button (click)="popup=false" class="btn btn-outline-danger" style="width: fit-content;">Cancel</button>
    </div>
  </div>
 




  
</body>




  <form #userForm="ngForm"   (ngSubmit)="onSave(userForm.value, userForm.valid)" novalidate>  
    <!-- <p>Is "myForm" valid? {{userForm.valid}}</p>   -->
   <table border='1'>  
  <tr>  
    <td style="color: white; font-weight: bold;">Name :</td>  
    <td>   
        <input name="id" type="hidden"     [(ngModel)]="id" />  
        <input name="name" type="text"  required  [(ngModel)]="name" >  
      
    </td>  
  </tr>  
    
  <tr>  
    <td style="color: white; font-weight: bold;">Email :</td>  
    <td>    <input name="email" required  type="text"   [(ngModel)]="email" ></td>  
  </tr>  
  <tr>  
    <td style="color: white; font-weight: bold;">Mobile Number :</td>  
    <td>    <input name="mobNumber" required  type="number"   [(ngModel)]="mobNumber" ></td>  
  </tr>  
  <tr>  
    <td style="color: white; font-weight: bold;">Address :</td>  
    <td>    <input name="address" required  type="text"   [(ngModel)]="address" ></td>  
  </tr>  
      <tr>  
          <td colspan="2">  
      <input type="submit" value="{{valbutton}}" class="btn btn-outline-primary" >  
      </td>  
      </tr>  
   </table>  
  </form>   
    
  <table border='1' class="table table-border table-striped bg-warning" [ngClass]="{'table-dark': mode, 'table-hover': true}">  
    
    <!-- <tr>  
      <td>Id</td>  
      <td>Name</td>  
      <td>Email</td>  
      <td>mobNumber</td>  
      <td>Address</td>  
      <td>Edit</td>  
      <td>Delete</td>  
    </tr>  -->
    <thead class="text-nowrap">
              <th>Booking ID <span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Name <span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Email<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Mobile Number<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Address<span class="ui-column-resizer" dragableColumn> </span></th>
              <th>Edit</th>
              <th>Delete</th>
            </thead> 
    <tr *ngFor="let kk of Repdata;let ind = index">  
         
      <td>{{ind + 1}}</td>  
      <td>{{kk.name}}</td>  
      <td>{{kk.email}}</td>  
      <td>{{kk.mobNumber}}</td>  
      <td>{{kk.address}}</td>  
      <td><a (click)="edit(kk)" style="color:white" class="btn btn-outline-primary">Edit</a></td>  
      <td><a (click)="delete(kk._id)" style="color:white" class="btn btn-outline-danger">Delete</a>  </td>  
    </tr>  
  </table>  
  <button mat-raised-button type="submit" (click)="popupInitialization()" id="button" (click)="popup=true" class="btn btn-outline-success">Book</button>