<header>
    <div class="container">
      <a routerLink="/" class="logo">{{apptitle}} <!-- <img src="../assets/logo.jpg" width="70px" style="padding-left: 40px;"> --></a>
      <nav>
        <ul>
          <li><a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li><a routerLink="/tours" routerLinkActive="active-link">Tours</a></li>
          <li><a routerLink="/bookings" routerLinkActive="active-link">Bookings</a></li>
          <li><a routerLink="/contact" routerLinkActive="active-link">Contact</a></li>
          <li><a routerLink="/about" routerLinkActive="active-link">About Us</a></li>
          <li><a routerLink="/logout" routerLinkActive="active-link">Log out</a></li>
          <!-- <li><a href="#" data-toggle="modal" data-target="#modalLRForm">Login </a></li> -->
          <!-- <li><img src="../assets/logo.jpg" width="70px"></li> -->
        </ul>
      </nav>
    </div>
  </header>


