<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>



  <body class="mat-typography"> 
    <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
    <div class="row">
        <div class="column" style="width: 60%;">
            <header>
              <div>
                <h1></h1>{{ text }}
                <h1 *ngIf="text=='1'">Lotus Temple Package:</h1>
                <p *ngIf="text=='1'">
                  Our Lotus Temple Package has Following:-<br><br>
                  It is a <strong>5 days</strong> Tour.
                  The total cost Per Person is <strong>&#8377;4999</strong> which includes:<br><br>
                  Food, living cost, accommodations in hotels etc.
                  On the way to lotus temple we cover these tour sites:<br><br>
                  <strong>Day 1</strong> : Akshardham Swaminarayan Akshardham (New Delhi)
                  <br> A Hindu temple, and a spiritual-cultural campus in New Delhi, India<br><br>
                  <strong>Day 2</strong> : Humayun's tomb is the tomb of the Mughal Emperor Humayun in Delhi, India.<br><br>
                  <strong>Day 3</strong>: Aastha Kunj is a 200-acre park in southeast New Delhi, India. It lies between the Lotus Temple,<br> <br>
                  <strong>Day 4</strong> : Lotus Temple : The Final Destination of our tour! Located in Delhi, India, is a Baháʼí House of Worship that was dedicated in December 1986. Notable for its flowerlike shape, it has become a prominent attraction in the city. Like all Baháʼí Houses of Worship, the Lotus Temple is open to all, regardless of religion or any other qualification.<br><br>
                  <strong>Day 5</strong> : back to hotel.<br>
                  <img src="assets\images\1a.jpg" class="figure-img">
                  <img src="assets\images\1b.jpg"class="figure-img">
                </p>
                
                <h1 *ngIf="text=='2'">Taj Mahal Package:</h1>
                <p *ngIf="text=='2'">
                  Our Package Taj Mahal  has Following:-<br><br>
                  It is a <strong>5 days</strong> Tour.
    The total cost Per Person is <strong>&#8377;4999</strong> which includes:<br><br>
    Food, living cost, accommodations in hotels etc.
    On the way to Taj Mahal we cover these tour sites:<br><br>
    <strong>Day 1</strong> : Mehtab Bagh is a charbagh complex in Agra, North India
    <br> A Hindu temple, and a spiritual-cultural campus in New Delhi, India<br><br>
    <strong>Day 2</strong> : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty
.<br><br>
    <strong>Day 3</strong>: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br> <br>
    <strong>Day 4</strong> : LTaj mahal : The Final Destination of our tour!
<br><br>
    <strong>Day 5</strong> : back to hotel.<br>

                  <img src="assets\images\2a.jpg" class="figure-img">
                  <img src="assets\images\2b.jpg"class="figure-img">
                </p>
                
                <h1 *ngIf="text=='3'">Delhi Streets Package:</h1>
                <p *ngIf="text=='3'">
                  Our Delhi Streets Package has Following:-<br><br>
                  It is a <strong>5 days</strong> Tour.
    The total cost Per Person is <strong>&#8377;4999</strong> which includes:<br><br>
    Food, living cost, accommodations in hotels etc.
    On the way to Taj Mahal we cover these tour sites:<br><br>
    <strong>Day 1</strong> : Mehtab Bagh is a charbagh complex in Agra, North India
    <br> A Hindu temple, and a spiritual-cultural campus in New Delhi, India<br><br>
    <strong>Day 2</strong> : Agra Fort is a historical fort in the city of Agra in India. It was the main residence of the emperors of the Mughal Dynasty
.<br><br>
    <strong>Day 3</strong>: The Moti Masjid in Agra was built by Shah Jahan. During the rule of Shah Jahan the Mughal emperor,<br> <br>
    <strong>Day 4</strong> : LTaj mahal : The Final Destination of our tour!
<br><br>
    <strong>Day 5</strong> : back to hotel.<br>
                  <img src="assets\images\3a.jpg" class="figure-img">
                  <img src="assets\images\3b.png"class="figure-img">
                </p>
                
                <h1 *ngIf="text=='4'">Himachal Buddisht Temple pass Package:</h1>
                <p *ngIf="text=='4'">
                  Our Himachal Buddisht Temple Package has the Following:-<br><br>
                  Its 5 days Tour
                  The total cost Per Person is &#8377;3999rs which includes:<br><br>
                  Food, living cost, accommodations in hotels etc.
                  On the way to Taj mahal we cover many major places such as:<br><br>
                  <strong>Day 1</strong> : Nathu La is a mountain pass in the Himalayas in East Sikkim district<br><br>
                  <strong>Day 2</strong>: Tathagata Tsal (Buddha Park): The Buddha Park of Ravangla, also known as Tathagata Tsal, is situated near Rabong in South Sikkim district, Sikkim, India.<br><br>
                  <strong>Day 3</strong> :Jelep La or Jelep Pass, elevation 4,267 m or 13,999 ft, is a high mountain pass between East Sikkim District, Sikkim<br><br>
                  <strong>Day 4</strong> : Back To Hotel.<br>
                  <img src="assets\images\4a.png" class="figure-img">
                  <img src="assets\images\4b.jpg"class="figure-img">
                </p>
                
                <h1 *ngIf="text=='5'">Rajasthan Chittod Fort Package:</h1>
                <p *ngIf="text=='5'">
                  Our Rajasthan Chittor Fort 
                  has Following:-<br><br>
                  It is a <strong>5 days</strong> Tour.
                  The total cost Per Person is <strong>&#8377;5999</strong> which includes:<br><br>
                  Food, living cost, accommodations in hotels etc.
                  On the way to Taj Mahal we cover these tour sites:<br><br>
                  <strong>Day 1</strong> : Tower of Fame (Kirti Stambh) :Kirti Stambha is a 12th-century tower situated at Chittor Fort in Chittorgarh town of Rajasthan, India.
                  <br> A Hindu temple, and a spiritual-cultural campus in New Delhi, India<br><br>
                  <strong>Day 2</strong> : Vijay Stambha (Victory tower) : The Vijaya Stambha is an imposing victory monument located within Chittor Fort in Chittorgarh, Rajasthan, India
                  .<br><br>
                  <strong>Day 3</strong>: Padmini's Palace : Padmini, also known as Padmavati, was a legendary 13th–14th century queen (Rani) of the Mewar kingdom of present-day India<br> <br>
                  <strong>Day 4</strong> : Chittor Fort : The Chittor Fort or Chittorgarh is one of the largest forts in India. It is a UNESCO World Heritage Site
                  <br><br>
                  <strong>Day 5</strong> : back to hotel.<br>
                  <img src="assets\images\5a.jpg" class="figure-img">
                  <img src="assets\images\5b.jpg"class="figure-img">
                </p>
                
                
                <h1 *ngIf="text=='6'">India Gate Package:</h1>
                <p *ngIf="text=='6'">
                  India Gate 
                  has Following:-<br><br>
                  It is a <strong>3 days</strong> Tour.
                  The total cost Per Person is <strong>&#8377;2999</strong> which includes:<br><br>
                  Food, living cost, accommodations in hotels etc.
                  On the way to Taj Mahal we cover these tour sites:<br><br>
                  <strong>Day 1</strong> :The National Gallery of Modern Art is the premier art gallery under Ministry of culture.  
                  <br><br>Amar Jawan Jyoti is an Indian memorial constructed after the Indo-Pakistani War
                  .<br><br> 
                  <strong>Day 3</strong>: Indian Gate :The India Gate (originally the All India War Memorial) is a war memorial located astride the Rajpath, 
                  
                  <br><br>
                  <strong>Day 5</strong> : back to hotel.<br>
                  <img src="assets\images\6a.jpg" class="figure-img">
                  <img src="assets\images\6b.jpg"class="figure-img">
                </p>
                
                
                <h1 *ngIf="text=='7'">Nanjangud(Karnataka) Package:</h1>
                <p *ngIf="text=='7'">
                  Nanjangud(Karnataka) 
                  has Following:-<br><br>
                  It is a <strong>5 days</strong> Tour.
                  The total cost Per Person is <strong>&#8377;5999</strong> which includes:<br><br>
                  Food, living cost, accommodations in hotels etc.
                  On the way to Taj Mahal we cover these tour sites:<br><br>
                  <strong>Day 1</strong> : Mysore,officially Mysuru, is a city in the southern part of the state of Karnataka, India.
                  <br><br>
                  <strong>Day 2</strong> : Bandipur National Park established in 1974 as a tiger reserve under Project Tiger, is a national park located in the Indian state of Karnataka, 
                  .<br><br>
                  <strong>Day 3</strong>: Najangudu: Nanjangud officially known as Nanjanagudu is a City and Taluk in Mysore district in the Indian state of Karnataka.<br> <br>
                  <img src="assets\images\7a.jpg" class="figure-img">
                  <img src="assets\images\7b.jpg"class="figure-img">
                </p>
                
                
                <h1 *ngIf="text=='8'">Golden Temple Package:</h1>
                <p *ngIf="text=='8'">
                  Golden Temple, Punjab  has Following:-<br><br>
                  It is a <strong>5 days</strong> Tour.
                  The total cost Per Person is <strong>&#8377;3999</strong> which includes:<br><br>
                  Food, living cost, accommodations in hotels etc.
                  On the way to Taj Mahal we cover these tour sites:<br><br>
                  <strong>Day 1</strong> :Jallianwala Bagh – War Memorial 
                  <br><br>
                  <strong>Day 2</strong> :Wagah Border – Wahga) or Wagha is a village and union council (UC 181) located in the Wahgah Zone of Lahore, Punjab,
                  
                  .<br><br>
                  <strong>Day 3</strong>: Wagah Border – Wahga) or Wagha is a village and union council (UC 181) located in the Wahgah Zone of Lahore, Punjab,
                  <br> <br>
                  <strong>Day 4</strong> : Golden temple: he Harmandir Sahib, meaning "abode of God" (Punjabi pronunciation also known as Golden Temple, is a Gurdwara located in the city of Amritsar, Punjab, India
                  
                  
                  <br><br>
                  <strong>Day 5</strong> : back to hotel.<br>
                  <img src="assets\images\8a.jpg" class="figure-img">
                  <img src="assets\images\8b.jpg"class="figure-img">
                </p>
                
              </div><br>
              
              <!-- <mat-icon (click)="toggleTheme()" title="Change theme">format_color_fill</mat-icon> -->
            </header>
          
        </div>
        <div class="column-1" style="width: 40%; height: 50%;">
          <div style="background-color: rgba(191, 255, 0, 0.8); border-radius: 5px; padding: 20px;">
            <h1><strong>&#8377;{{choiceData[choice-1][1]}}</strong></h1>
            Starting price per adult
            <!-- <br><br>
            <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

<hr/>

<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button> -->

            <!-- <ngb-datepicker #d></ngb-datepicker> -->
            <!-- <input matInput [matDatepicker]="picker" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi="true" #picker></mat-datepicker> //This line has the touchUi -->
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field> -->
            
            <!-- <a routerLink='/bookings' (click)="updateText('1')"></a> -->
            <br><br>Happy with your choice?<br><br>
            <button routerLink='/bookings' mat-raised-button type="submit" class="btn btn-outline-success">Book Online</button><br>
          </div>
          <hr>Want to choose a different Package!<br>
          Click
          <button routerLink='/' class="btn btn-outline-info">Home</button>
          to make a different selection
        </div>
    </div>
</body>