
     /* The Modal (background) */
     .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgb(0, 0, 0);
      /* Fallback color */
      background-color: rgba(0, 0, 0, 0.4);
      /* Black w/ opacity */
      padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 20px;
      border: 1px solid #888;
      width: 40%;
      height: auto;
    }



    /* The Close Button (x) */
    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color: #000;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: red;
      cursor: pointer;
    }

    /* Add Zoom Animation */
    .animate {
      -webkit-animation: animatezoom 0.6s;
      animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
      from {
        -webkit-transform: scale(0)
      }

      to {
        -webkit-transform: scale(1)
      }
    }

    @keyframes animatezoom {
      from {
        transform: scale(0)
      }

      to {
        transform: scale(1)
      }
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }

      .cancelbtn,
      .signupbtn {
        width: 100%;
        border: none;
      }

      .signupbtn {
        width: 100%;
        border: none;
        color: green;

      }
    }

    /* login screen close */


    .highlight {
      background-color: rgb(219, 215, 215);
      /* border-left: white; */
      border-left: 30px solid white;
      border-right: 30px solid white;
      padding: 1%;
      font-family: Arial, Helvetica, sans-serif;
    
     
   }

    .highlight,
    .step1 {
      font-size: 13px;
      color: rgb(40, 40, 40);
      font-family: Arial, Helvetica, sans-serif;
    }

    /* Signin and signup */


    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    /* Signin and signup close */
    
    /* Login screen home button */

    .home-btn{
      position: absolute;
      top: 92%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
