@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
    background-color: lightgrey;
    /* background-image: url('/assets/1.jpg'); */
    background-image: url('/assets/5.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;


}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}




/* You can add global styles to this file, and also import other style files */
button.btn-submit{
    background-color: #38547b;
    color: #fff;
    width: 100%;
}
button.btn-submit:focus,button.btn-submit:hover{
    background-color: #38547b;
}

input.ng-invalid.ng-dirty{
    border-bottom-color : #e91e63 !important;
    box-shadow: 0 1px 0 0 #e91e63 !important;
}
/*for error div i*/
div.error-message i{
    vertical-align: middle !important;
}

/*for tab control*/
.tabs{
    height: 65px;
}
.tabs .tab{
    text-transform : none !important;
    line-height: 65px;
    height: 65px;
}
.tabs .tab a{
    font-size: 25px;
    color: grey !important;
}

.tabs .tab a.active{
    background-color: #fff !important;
}
 