<!-- <input type="text" [(value)]="text" #name name="name" (keyup)="updateText(name.value)"> -->

<main class="main">	
	<section class="info-1">
		<h2>
			<!-- <a id="logo" href="https://mrdoob.com/projects/chromeexperiments/google-gravity/"><p>On a Journey!</p></a> -->

			<p style="font-size: 150%;">On a Journey!</p>
			<p>TRAVEL MADE EASY</p>
		</h2>

		<p id="plans">SELCET . BOOK . TRAVEL</p><br> 
	</section>
	<figure class="figure-1">
		<a routerLink='/tours' (click)="updateText('1')"><img src="assets\images\1.jpeg" class="figure-img"></a>
		<h2 class="image1-text"><span>Lotus temple package<br>5 days<br><br>Just &#8377;4999 </span></h2>
	</figure>
	<figure class="figure-2">
		<a routerLink='/tours' (click)="updateText('2')"><img src="assets\images\2.jpeg" class="figure-img"></a>
		<h2 class="image2-text"><span>Taj Mahal package<br>5 days<br>Just &#8377;4999 </span></h2>
		<!-- <img src="assets\images\2.jpeg" class="figure-img"> -->
	</figure>
	<figure class="figure-3">
		<a routerLink='/tours' (click)="updateText('3')"><img src="assets\images\3.jpeg" class="figure-img"></a>
		<h2 class="image3-text"><span>Delhi Streets package<br>2 days<br><br>Just &#8377;1999 </span></h2>
		<!-- <a routerLink='/bookings'><img src="assets\images\3.jpeg" class="figure-img"></a>
		<h2 class="image2-text"><span>Delhi Streets package<br> Rs 2000</span></h2> -->
	</figure>
	<figure class="figure-4">
		<a routerLink='/tours' (click)="updateText('4')"><img src="assets\images\4.jpeg" class="figure-img"></a>
		<h2 class="image4-text"><span>Himachal Buddisht Mountain pass package<br>5 days<br><br>Just &#8377;3999 </span></h2>
		<!-- <img src="assets\images\4.jpeg" class="figure-img"> -->
	</figure>
	<figure class="figure-5">
		<a routerLink='/tours' (click)="updateText('5')"><img src="assets\images\5.jpeg" class="figure-img"></a>
		<h2 class="image5-text"><span>Rajasthan Chittor Fort package<br>5 days<br><br>Just &#8377;5999 </span></h2>
		<!-- <img src="assets\images\5.jpeg" class="figure-img"> -->
	</figure>
	<figure class="figure-6">
		<a routerLink='/tours' (click)="updateText('6')"><img src="assets\images\6.jpeg" class="figure-img"></a>
		<h2 class="image6-text"><span>India Gate package<br>5 days<br><br>Just &#8377;4499 </span></h2>
		<!-- <img src="assets\images\6.jpeg" class="figure-img"> -->
	</figure>
	<section class="info-2">
		<h2>Our services</h2>
		<p>Click on a package to proceed to booking.</p>
		<p>Our field of expertise spans across the realms of exterior-interior design, construction and consultancy. We adopt distinctive design process that leads to aesthetically and intellectually precise projects. </p>
	</section>
	<figure class="figure-7"> 
		<a routerLink='/tours' (click)="updateText('7')"><img src="assets\images\7.jpeg" class="figure-img"></a>
		<h2 class="image7-text"><span>Nanjangud(Karnataka) package<br>1 days<br><br>Just &#8377;999 </span></h2>
		<!-- <img src="assets\images\7.jpeg" class="figure-img"> -->
	</figure>
	<section class="info-3">
		<h2>More info</h2>
		<p><i class="fa fa-hand-o-right"></i>Email Us:</p>
		<p class="inc-size"> adi-sal420.info@gmail.com</p><br>
		<p><i class="fa fa-phone"></i>Call Us:</p>
		<p class="inc-size"> +91-7369918</p><br>
		<p><i class="fa fa-building-o"></i> Address:</p>
		<p class="inc-size"> #1763, 5th cross 3rd bangalore 560043</p><br>
		<!-- <a href="#" class="info-link">Learn More</a> -->
	</section>
	<figure class="figure-8">
		<a routerLink='/tours' (click)="updateText('8')"><img src="assets\images\8.jpeg" class="figure-img"></a>
		<h2 class="image8-text"><span>Golden Temple package<br>5 days<br><br>Just &#8377;3999 </span></h2>
		<!-- <img src="assets\images\8.jpeg" class="figure-img"> -->
	</figure>
</main>
<br>
